<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" type="hidden"
                               th:value="${task.id}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">任务约定的唯一key：</label>
                            <div class="col-sm-8">
                                <input id="taskConstantKey" name="taskConstantKey" class="form-control"
                                       type="text" th:value="${task.taskConstantKey}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">游戏任务名：</label>
                            <div class="col-sm-8">
                                <input id="gameTaskName" name="gameTaskName" class="form-control"
                                       type="text" th:value="${task.gameTaskName}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">奖励抽奖次数：</label>
                            <div class="col-sm-8">
                                <input id="rewardDrawTimes" name="rewardDrawTimes" class="form-control"
                                       type="text" th:value="${task.rewardDrawTimes}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">奖励积分范围：</label>
                            <div class="col-sm-4">
                                <input id="rewardIntegralMin" name="rewardIntegralMin" class="form-control"
                                       type="text" th:value="${task.rewardIntegralMin}">
                            </div>
                            -
                            <div class="col-sm-4">
                                <input id="rewardIntegralMax" name="rewardIntegralMax" class="form-control"
                                       type="text" th:value="${task.rewardIntegralMax}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否开启任务次数规则：</label>
                            <div class="col-sm-8">
                                <label class="radio-inline"> <input type="radio"
                                                                    name="enabledTimesRule" value="1" th:field="*{task.enabledTimesRule}"/> 是
                                </label>
                                <label class="radio-inline"> <input type="radio"
                                                                    name="enabledTimesRule" value="0" th:field="*{task.enabledTimesRule}" /> 否
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="gameTaskTypeDiv">
                            <label class="col-sm-3 control-label">游戏任务类型：</label>
                            <div class="col-sm-8">
                                <label class="radio-inline"> <input type="radio"
                                                                    name="gameTaskType" value="VIDEO" th:field="*{task.gameTaskType}"/> 看视频
                                </label>
                                <label class="radio-inline"> <input type="radio"
                                                                    name="gameTaskType" value="PLAY_GAME" th:field="*{task.gameTaskType}"/> 跳转
                                </label>
                                </label>
                                <label class="radio-inline"> <input type="radio"
                                                                    name="gameTaskType" value="SHARE" th:field="*{task.gameTaskType}"/> 分享
                                </label>
                            </div>
                        </div>
                        <div id="gameRuleDiv" th:each="taskRule,count: ${task.ruleDOList}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">奖励规则：</label>
                                <div class="col-sm-9">
                                    <div class="col-sm-1">第</div>
                                    <div class="col-sm-2"><input id="times1" name="times1" class="form-control"
                                                                 type="text" th:value="${taskRule.times}"></div>
                                    <div class="col-sm-3">次,任务类型为:</div>
                                    <div class="col-sm-6">
                                        <label class="radio-inline"> <input type="radio" name="gameTaskType1"
                                                                            value="VIDEO" th:field="*{taskRule.gameTaskType}"> 看视频
                                        </label>
                                        <label class="radio-inline"> <input type="radio" name="gameTaskType1"
                                                                            value="PLAY_GAME" th:field="*{taskRule.gameTaskType}"> 跳转
                                        </label>
                                        <label class="radio-inline"> <input type="radio" name="gameTaskType1"
                                                                            value="SHARE" th:field="*{taskRule.gameTaskType}"> 分享
                                        </label></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否启用：</label>
                            <div class="switch onoffswitch col-sm-1">
                                <div class="onoffswitch">
                                    <input id="enabled" name="enabled" type="checkbox"
                                           value="1" class="onoffswitch-checkbox" th:checked=${task.enabled==1}>
                                    <label class="onoffswitch-label" for="enabled"> <span
                                            class="onoffswitch-inner"></span> <span
                                            class="onoffswitch-switch"></span>
                                    </label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/game/task/task-edit.js">
</script>
</body>

</html>
